.parent-list {
  padding-top:30%;
  list-style: none;
  margin: 10% auto;
  width: 30%;
  text-align: center;
}
.parent-list li {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
.parent-list li a {
  color: #c39176;
  transition: color 0.3s;
}

.list-link--gh a:hover {
  color: black;
}

.list-link--fb a:hover {
  color: #3b5998;
}

.list-link--li a:hover {
  color: #007bb5;
}

.list-link--sc a:hover {
  color: #ffcc00;
}
.soc {
  font-size: 20px; 
}
#section-3 .row {
  padding-top:15%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
